.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.textarea {
  min-height: 5rem;
  padding: 0.5rem;
  line-height: 125%;
  resize: vertical;
}
