.section {
  width: 100%;
  padding-block-end: 0.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  gap: 0.25rem;
}

.copy-save-buttons {
  display: flex;
  gap: 0.25rem;
}

.cats-list {
  display: flex;
  overflow: hidden;
  border-radius: var(--border-radius);
  list-style: none;
}

.cats-list-item {
  flex: 0 0 100%;
}
